/* In order to fully utilize grid objects, most elements have been moved to _grid.css instead. */

.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: rgba($mainBlue, 0.3);

  &__logo {
    position: absolute;
    top: 0;
    background-color: $mainBlue;
    padding: 26px 36px;
  }
}
